@import "variables";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";
@import "@material/fab/mdc-fab";
@import "@material/dialog/mdc-dialog";
@import "@material/card/mdc-card";
@import "@material/image-list/mdc-image-list";

body {
  font-family: "Roboto", sans-serif;
  color: #6b6969;
}

.container {
  padding-top: 70px;
}

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.title,
.content {
  display: block;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.mdc-top-app-bar {
  @include mdc-top-app-bar-ink-color(white);
}

.foo-button {
  //@include mdc-button-filled-accessible($primaryColor);
  @include mdc-button-ink-color(white);
}

#myFab {
  @include mdc-fab-container-color($mdc-theme-primary);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media (min-width: 1024px) {
  #myFab {
    @include mdc-fab-container-color($mdc-theme-primary);
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .title,
  .content {
    display: block;
    width: 500px;
    margin: 20px auto;
  }

  .guide-list {
    @include mdc-image-list-standard-columns(3);
  }
}

.guide-card {
  // max-width: 450px;
  width: 100%;
  min-width: 320px;
  // width: 320px;
}

.guide-card-content {
  padding-left: 16px;
  padding-right: 16px;
}

.guide-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding-left: 16px;
  padding-bottom: 15px;
  h2 {
    margin-bottom: 1px;
    margin-top: 1px;
    padding-bottom: 1px;
  }
  h3 {
    margin-bottom: 1px;
    margin-top: 1px;
    padding-bottom: 1px;
  }
}

@media (max-width: 768px) {
  .guide-list {
    @include mdc-image-list-standard-columns(2);
  }
}

@media (max-width: 480px) {
  .guide-list {
    @include mdc-image-list-standard-columns(1);
  }
}
